<div class="container">
    {{ form_start(form) }}
        <div class="form-group mb-2">
            {{ form_label(form.tagName, "Nom: ") }}
            <br>
            {{ form_widget(form.tagName, {'attr': {'class': 'mt-1'}}) }}
            {{ form_errors(form.tagName) }}
        </div>
        <button class="btn btn-primary">{{ button_label|default('Créer') }}</button>
    {{ form_end(form) }}
</div>
