{% extends 'base.html.twig' %}

{% block title %}Tag CRUD{% endblock %}

{% block body %}
    <!-- Page Header-->
    <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Tag CRUD</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content-->
    <div class="container-fluid px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1>Tag CRUD</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for tag in tags %}
                        <tr>
                            <td>{{ tag.id }}</td>
                            <td>{{ tag.tagName }}</td>
                            <td>
                                <a href="{{ path('app_crud_tag_show', {'id': tag.id}) }}">Voir</a>
                                <a href="{{ path('app_crud_tag_edit', {'id': tag.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Aucun tag pour le moment</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('app_crud_tag_new') }}">Créer nouveau</a>
            </div>
        </div>
    </div>
{% endblock %}
